   <div class="footer bg-primary/20 border-t-1 border-white/5 p-6 lg:p-8 flex flex-col justify-center items-center">
      <div class="max-w-6xl w-full border-b-1 border-white/5 pb-8">
        <div class="flex flex-col lg:flex-row items-center justify-between">
          <div class="w-full py-8 flex flex-col gap-4">
            <h1 class="font-bold text-xl lg:text-3xl">Stay in the loop</h1>
            <p class="text-sm opacity-65">Get exclusive deals, new product announcements, and gaming tips.</p>
          </div>
          <div class="w-full">
            <form action="" class="flex gap-4">
              <input type="text" placeholder="Enter your Email" class="bg-primary/20 w-full py-1.5 px-4 rounded-4xl inset-shadow-sm">
              <button type="submit" class="flex py-1.5 px-4 bg-white text-black rounded-4xl cursor-pointer items-center">Subscribe <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg></button>
            </form>
          </div>
        </div>
      </div>

      <div class="max-w-6xl w-full flex flex-col lg:flex-row justify-between py-8 gap-8 border-b-1 border-white/5">
        <div class="flex flex-col gap-4">
          <h1><span class="font-bold text-xl">APEX</span><span class="text-sm font-base opacity-65">gaming</span></h1>
          <p class="text-sm opacity-65">Premium gaming gear for competitive players. Precision-engineered for peak performance.</p>
          <ul class="flex gap-4 text-sm">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Tiktok</a></li>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Discord</a></li>
          </ul>
        </div>
        <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 w-full">
          <div class="flex flex-col gap-4">
            <h1 class="text-base uppercase font-bold tracking-wider">product</h1>
            <ul class="text-sm flex flex-col gap-4">
              <li><a href="#">Keyboard</a></li>
              <li><a href="#">Mouse</a></li>
              <li><a href="#">Headset</a></li>
              <li><a href="#">Accessories</a></li>
            </ul>
          </div>
          <div class="flex flex-col gap-4">
            <h1 class="text-base uppercase font-bold tracking-wider">Support</h1>
            <ul class="text-sm flex flex-col gap-4">
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Warranty</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Shiping</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="flex flex-col gap-4">
            <h1 class="text-base uppercase font-bold tracking-wider">Company</h1>
            <ul class="text-sm flex flex-col gap-4">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Affiliates</a></li>
            </ul>
          </div>
          
        </div>
        
      </div>

      <div class="max-w-6xl py-8 w-full flex flex-col lg:flex-row gap-4 items-center lg:justify-between">
          <span class="text-sm opacity-65">© 2026 APEX Gaming. All rights reserved.</span>
          <span class="flex gap-4 text-sm">
            <a href="#" class="opacity-65 hover:opacity-100">Privacy Policy</a>
            <a href="#" class="opacity-65 hover:opacity-100">Terms of Service</a>
          </span>
      </div>
   </div>